#lesson-name {
    font-weight: bold;
}

#prompt, #results, .current-tables-container{
    padding-bottom: 2rem;
}

#answer-correct, #answer-wrong {
    display: none;
    font-weight: bold;
}

#sql-link {
    margin: 10px 0 34px 5px;
}


.table-name {
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}

.expected-results-container {
    display: none;
}